html,
body {
    width: 100vw;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: 'Baloo Bhaijaan 2', cursive;
}

a {
    text-decoration: none;
}

.title {
    font-size: 24px;
    color: rebeccapurple;
    font-weight: bold;
}
.logoimg{
    width: 100%;
    height: 100px;
}
.container{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
}
.subscribe {
    display: flex;
    flex-wrap: wrap;
}

.container .item {
    background-image: url(/images/blob\ \(2\).svg);
    background-position: bottom;
    box-sizing: border-box;
    flex-grow: 1;
    flex-shrink: auto;
    min-height: 300px;
    padding: 20px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgb(163, 4, 4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(6, 134, 17, 0.973) 0px -3px 0px inset;
}

.container .item p {
    color: rgb(0, 117, 0);
    font-size: 16px;
}

.item a {
    text-decoration: none;
    background-color: rgb(99, 253, 150);
    color: rgb(71, 67, 67);
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
}
.item a.productlink{
    background-color: white;
    padding:0px;
    width:100%;
}
.container .item img {
    width: 100%;
    border-radius: 10px;
}
.subscribe {
    padding: 20px;

    justify-content: space-around;
    flex-wrap: nowrap;
    background-image: url(/images/wave.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.subscribe .subs {
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding:10px;
    
}
.about{
    background-image: url(/images/wave\ \(1\).svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    text-align: center;
    padding: 20px;
}
.about p{
    background-image: url(/images/blob.svg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 16px;
   
   
}
.subscribe .subs input {
   width: 50%;
    margin: auto;
    max-height: 30px;
    border: 2px solid rgb(95, 0, 0, 0.2);
    border-radius: 8px;
    outline: none;
    padding: 10px;

}

.subscribe .subs button {
    cursor: pointer;
    width: 60%;
    margin: auto;
    border: none;
    background-color: rgb(255, 214, 50);
    color: rgb(71, 67, 67);
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
}
.subscribe .subs button:hover{
    background-color: rgb(211, 252, 63);
    color: black;
}
.subscribe .subs label {
    font-size: 16px;
}

footer {
    background: rgb(238,174,202);
        background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    color: rgb(94, 15, 15);
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding: 20px;
}
footer a{
    color: rgb(94, 15, 15);
}
.permpopup{
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0px;
    bottom: 0px;
}
.permpopup a{
    color:black;
    font-size:16px;
    font-weight: bold;
}
.permpopup img{
    width: 48px;
    height: 48px;
}
#menu{
           display:flex;
           display: none;
           flex-direction: column;
           background-image: url(/images/wave.svg);
           background-size: cover;
           background-repeat: no-repeat;
           background-color: rgb(255, 255, 255);
           width: 100vw;
           height: 100vh;
           position: fixed;
           list-style-type: none; 
           padding: 0px;
           text-align: center;
           z-index: 5;
        }
        #menu a{
            display: block;
            padding: 20px;
            text-decoration: none;
            color: #2c1b70;
            font-weight: bold;
        }
        #menu a:hover{
            color:white;
            background-color:rgb(47, 126, 16);

        }
        
       .part1{
        border-radius: 8px;
           display:flex;
           justify-content: space-between;
        height: 45px;
       }
       .part1 ul{
           padding: 0px;
           margin:0px;
           height: 40px;
           display: flex;
           justify-content: space-evenly;
    
       }
       .part1 ul a{
            color:#2c1b70;
            padding:0px 10px;
            font-size: 16px;
            font-weight: bold;
       }
       .part1 ul a:hover{
           color: white;
           background-color: rgb(51, 49, 49);
           font-size: 18px;
       }
       .part1 h1{
        font-family: cursive;
        font-size: 30px;
        color:rgb(80, 18, 18);
       }
       .prprice{
           font-size: 25px;
           color:rgb(58, 131, 80);
           font-weight: bold;
           margin-top:0px;
       }
/* Slideshow container */
.slideshow-container {
    max-width: 500px;
    position: relative;
    margin-top:20px;
    
  }
 
  /* Caption text */
  .text {
    color: #e7dbdb;
    font-size: 35px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    font-weight: bold;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    position: absolute;
    font-size: 25px;
    padding: 8px 12px;
    top: 0;
  }
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgb(184, 129, 129);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  .hero{
    max-width:99vw;
    /*max-height: 400px;*/
    position: relative;
}
.hero img{
  width:100%;
  height: 100%;
  opacity: 0.7;
  border-radius: 8px;
}
.hero p{
    position: absolute;
    right:0px;
    bottom:0px;
    color:rgb(44, 0, 83);
    font-weight: bold;
    font-size: 40px;
}

a {
    text-decoration: none;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.heading1{
    color:#3b8544;
}
.heading2{
    color:#750404;
}
.product .producttxt {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.container .item p.productprice{
    font-size: 20px;
    color: rgb(104, 41, 50);
    font-weight: bold;
}
.reviews form {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.desc,.revee,.buy{
  background-color: cornflowerblue;
  padding:10px;
  border-radius: 8px;
  color:white;
  font-weight: bold;
}
.active{
    background-color: rgb(6, 151, 6);
}

.buy {
    width: 30%;
    margin:auto;
}
.categories ul{
    list-style-type:none;
}
.categories a{
  
    color: rgb(121, 82, 121);
    font-family: cursive;
}
* {
    box-sizing: border-box;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .prodcontainer {
    position: relative;
  }
  
  /* Hide the images by default */
  .prodmySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .prodcursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prodprev,
  .prodnext {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .prodnext {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prodprev:hover,
  .prodnext:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .prodnumbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 25%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
@media only screen and (max-width:400px) {
  .container .item {
      padding:0px;
      margin:5px;
  }
  .container .item a{
      font-size:15px;
      padding:8px;
  }
  .item a.productlink{
    padding:0px;
}
  .container{
      gap:5px;
  }
  .hero p{
      font-size: 16px;
  }
  .homelink{
      display: none;
  }
}
/*style for desktop*/
@media only screen and (min-width:600px) {
    body{
        width: 80%;
        margin:auto;
    }
    .part1{
        background-color: brown;
    }
    .part1 ul{
        width:100%;
    }
    .part1 ul a{
        color:white;
        font-weight: normal;
        font-size: 20px;
    }
    .part1 .hamicon{
        display: none;
    }
    .part1 img{
        height: 35px;
    }
    .mySlides{
        height:500px;
    }
    .hero img, .product img{
        height: 400px;
        width: 80%;
        margin:auto;
        margin-top:20px;
    }
    .hero p{
        font-size:20px;
    }
}   